body{
  font-family: Helvetica, sans-serif
}
.yellow{
  width: 30vw ;
  height: 100vh;
  background-color: #FFE512 ;
  display: block;
  p{
    font-size: 300px;
    transform: rotate(270deg) translateX(-300px);
    opacity: 0.33;
  }
}
main{
  display: flex;
}
.snicker{
  top: 8vh;
  position: absolute;
  left: 20vw;
  display: block;
  img{
    height: 500px;
  }
  .arrows{
    padding-top: 10px;
    height: 20px;
    width: 250px;
    display: flex;
    .arrow{
      width: 30px;
      height: 30px;
    }
    .arrow--right{
      margin-left: 0px;
    }
    .arrow--left{
      transform: rotate(180deg);
      display: inline-block;
      margin: auto;
      margin-right: 100px;
    }
  }
}

.description{
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 20%;
  top: 20%;
  font-weight: 700;
  font-size: 22px;
  h2{
    padding-bottom: 20px;
  }
  .stars{
    img{

    }
    p{
      display: inline ;
    }
    padding-top: 30px;
  }
  .colors__choice{
    p{
      padding-top: 20px;
      font-weight: 100;
    }
    
    .color{
      margin-top: 20px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: black;
      border-radius: 100Px ;
      border: solid gray 5px;
    }
    .color--white{
      background-color: white;
      margin-left: 15px;
    }
  }
}